body, p {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    padding: 0 90px;
    background-color: rgba(128, 128, 128, 0.233);
    height:  60px;
}
.top-notification{
    opacity: 0.2;
}
.top-notification:hover {
    opacity: 0.7;
}
.wrapper-left {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    min-width: 80px;
}
.user-menu {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: blueviolet;
    text-align: center;
}
ul{
    display: none;
    
}
#checkbox{
    opacity: 0;
    
}
#checkbox:checked + ul {
    
    display: block;
}


.logo {
    width: 105px;
    height: 60px;

    
}

.dropbtn {
    background-color: #aa9f04;
    color: white;
    width: 40px; /* Ширина кнопки */
    height: 40px; /* Высота */
    border-radius: 30px;
    margin: 10px;
    
    
  }
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    margin-right: 80px;
    
    
    
  }
  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

   
   
.content {
    position: relative;
    height: calc(100vh - 30px);
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.notification {
    margin: 0 auto;
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 300px;
}

.notification-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}
.notification-item:first-child{
    margin-top: 0;
}
.notification-item > img {
    height: 25px;
    width: 25px;
    margin-right: 20px;
}

.error {
    background-color: rgba(255, 0, 0, 0.733);
}

.success {
    background-color: rgba(27, 168, 27, 0.788);
}

.warning {
    background-color: rgba(211, 96, 29, 0.829);
}

.error-404 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

